:root {
  font-size: 62.5%; /* 1rem = 10px */
  --color-primary: #1E1E1E;
  --color-secondary: #8D8B8B;
  --color-font: #FFFF;
  --color-shadow: #828282;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: var(--color-primary);
  font-size: 1.6rem;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

p,i, h1 {
  color: var(--color-font);
}

i {
  font-size: 3.2rem;
}

h1 {
  font-size: 3.2rem;
}

/* Content */

section {
  display: flex;
  align-items: center;
  height: 100%;
}

h1 {
  top: 50px;
}

.container {
  width: min(50rem, 100%);
  margin-inline: auto;
  padding-inline: 2rem;
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.painel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  width: 20rem;
  margin-block: 5rem;
  padding: 1rem;
  border-radius: 10rem;
  -webkit-box-shadow: 0px 0px 15px 10px var(--color-shadow); 
  box-shadow: 0px 0px 15px 10px var(--color-shadow);
}

.painel p {
  opacity: .8;
  transition: 1s ease-in;
  color: var(--color-secondary);
}

.painel p.active {
  color: var(--color-font);
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 15px 10px var(--color-shadow); 
  box-shadow: 0px 0px 15px 10px var(--color-shadow);
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26rem;
  height: 26rem;
  border-radius: 50%;
  background-color: var(--color-secondary);
  position: relative;
}

.circle::before {
  content: '';
  position: absolute;
  width: 95%;
  height: 95%;
  border-radius: 50%;
  background-color: var(--color-primary);
}

.time {
  position: relative;
  display: flex;
  flex-direction: row;
}

.time p {
  font-size: 5.6rem;
}

.time p:nth-of-type(2) {
  position: relative;
  top: -.5rem;
  margin-inline: 1rem;
}

.controls {
  margin-top: 3rem;
}

.controls button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.controls #reset {
  display: none;
}

.back {
  position: absolute;
  left: 50px;
  top: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}